@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.container-popup {
    background: #e3e3e3;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    width: 20%;
    height: auto;
    position: fixed;
    left: 65%;
    display: none;
}


.close-popup {
    float: right;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 100%;
}

.close-popup i {
    float: right;
    line-height: 20px;
    width: 20px;
    text-align: center;
}

.close-popup i:hover {
    background-color: rgb(242, 32, 32);
}

.content-popup {
    background-color: rgb(233,216,244);
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

.form-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 9%;
}

.contain {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.contain label {
    color: black;
    font-family: 'Be Vietnam Pro';
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 3px;
}

.contain span#isRequired {
    color: red;
    font-size: 9px;
    font-family: 'Be Vietnam Pro';
    font-style: italic;
    font-weight: bold;
    margin-left: 1px;
}

#gender, .contain input {
    outline: none;
    border: 1px solid purple;
    background-color: rgb(232,240,254);
    height: 1.7rem;
    width: 100%;
    padding-left: 5px;
    font-size: 13px;
    border-radius: 5px;
}

.contain__btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#btnSubmit {
    height: 2rem;
    width: 7rem;
    border: none;
    background: rgb(102,59,182);
    color: #fff;
    font-family: DM Sans;
    border-radius: 3px;
    outline: none;
}

#btnSubmit:hover {
    background-color: rgba(113, 77, 179, 0.952);
}



/* error-form-validator */
.form__error-message {
    font-size: 12px;
    color: red;
    font-family: 'Be Vietnam Pro';
    margin: 2px 0;
}
